.profileWrapper:hover .profileDropDownWrapper{
	display: block;
}
.userAvatar{
	position: relative;
	left: 3px;
	top: 8px;
	width: 30px;
}
.username{
	cursor: pointer;
	align-self: center;
	justify-self: center;
	font-size: 1.2rem;
	text-transform: uppercase;
}