.mobileNavigationWrapper{
	display: grid;
	grid-template-columns:  repeat(5,1fr);
	grid-template-rows: repeat(1,1fr);
	background-color: #CCC;
	padding: 0 1vw;
}
.navigationLogotype{
	grid-column:  2/2;
	width: 45px;
	padding: 5%;
}
.hambugerlogo{
	
	grid-column:  1/1;
}
.mobileDisplayUsername{
	grid-column: 4/6;
	justify-self:end;
}
.hambugerlogo, .navigationLogotype{
	cursor: pointer;
	align-self: center;
	justify-self: center;
	font-size: 1.2rem;
	grid-row: 1/1;
	text-transform: uppercase;
}